################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BusinessLogic/obj/Debug
/DataAccessLayer/obj/Debug
/packages
/ServiceModels/obj/Debug
/UserApi/bin
/UserApi/obj/Debug
